@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin: 0;
}
nav {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #0a0d11;
    width: 100%;
}
nav > ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 23px;
}
.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 5px;
}
.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #C7830C;
    height: 3px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
#logo {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 0 10px 50px;
    color: #C7830C;
}
main {
    display: flex;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    background-color: #12181F;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Titillium Web', sans-serif;    
}
#dois {
    padding: 5px 0;
    font-size: x-large;
}
#tres {
    display: flex;
    justify-content: left;
    text-align: justify;
    width: 500px;
    padding-top: 150px;
}
#inicial {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
#secundario {
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: #EBEFF2;
    color: black;
    margin-top: 34px;
    height: 410px;
    width: 440px;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.oferta {
    color: rgb(88, 20, 20);
}
.corte {
    color: lightslategrey;
    text-decoration: line-through;
}
#img {
    width: 440px;
}
#principal {
    width: 400px;
    height: 200px;
    padding: 34px;
}
#produto {
    text-align: center;
}
#img > a {
    text-decoration: none;
}
#detalhes {
    width: 90%;
    height: 40px;
    border-radius: 30px;
    /*background-image: linear-gradient(45deg, #17181d, #292c35);*/
    background-color: #C7830C;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    display: block;
    margin: auto;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#prdutos {
    background-color: red;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: black;
}
.card {
    color: black;
    width: 300px;
    height: 500px;
    background-color: aqua;
    margin: 50px;
} 